body {
    background-color: #564256;
    text-align: center;
}
#title {
    text-align: center;
    color: #E8E8E8;
}
#word-list-title {
    color: #E8E8E8;
    margin: 5px 0 5px 0;
    padding: none;
}
#word-list {
    color: #FC814A;
}
#warning {
    color: #FC814A;
    margin: 10px 0 10px 0;
}
#word-list {
    list-style: none;
}
.word {
    display: inline-block;
    padding: 0 10px 0 10px;
    margin: 10px 10px 10px 10px;
}
.letter {
    font: 'Courier New';
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
}
#grid-container {
    text-align: center;
}
#instructions-title {
    color: #E8E8E8;
}
#instructions {
    color: #BFBFBF;
}
#grid-container {
    color: #FC814A;
}